* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 11px;
  color: #fff;
}

.sidebar {
  width: 80px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.sidebar .side-top {
  width: 80px;
  height: 80px;
  background-color: #fff;
  position: relative;
}

.sidebar .side-top .rec {
  width: 26px;
  height: 13px;
  position: absolute;
  top: calc(50% - (13px / 2));
  left: calc(50% - (26px / 2));
  box-sizing: border-box;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.sidebar .side-top .menu {
  padding-top: 116px;
  box-sizing: border-box;
  width: 448px;
  height: 100vh;
  background-color: #fff;
  margin-left: -448px;
  transition: all ease-in 0.7s;
  position: relative;
}

.sidebar .side-top .menu h2 {
  padding-left: 80px;
  color: #081c3a;
  font-weight: 600;
  font-size: 34px;
  font-family: "Poppins", sans-serif;
}

.sidebar .side-top .menu .menu-content {
  width: 448px;
  box-sizing: border-box;
  height: calc(90%);
  padding: 0 36px 36px 80px;
  overflow-y: scroll;
}

.sidebar .side-top .menu .menu-content .menu1 .menu1-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.sidebar .side-top .menu .menu-content .menu1 .menu1-header h3, .sidebar .side-top .menu .menu-content .menu1 .menu1-header footer .footer-wrapper .footer-logo h3 span, footer .footer-wrapper .footer-logo h3 .sidebar .side-top .menu .menu-content .menu1 .menu1-header span {
  letter-spacing: 3px;
  font-weight: 400;
  color: #081c3a;
}

.sidebar .side-top .menu .menu-content .menu1 .menu1-header hr {
  height: 1px;
  width: 137px;
  border: none;
  background-color: rgba(192, 192, 211, 0.3);
}

.sidebar .side-top .menu .menu-content .menu1 .choice {
  width: 330px;
  height: 96.4px;
  border: 1px solid rgba(192, 192, 211, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 21px 24px;
  box-sizing: border-box;
  margin-top: 30px;
}

.sidebar .side-top .menu .menu-content .menu1 .choice h4 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #081c3a;
}

.sidebar .side-top .menu .menu-content .menu1 .choice p {
  letter-spacing: 3px;
  font-weight: 400;
  color: #081c3a;
}

.sidebar .side-top .menu .menu-content .menu1 .choice .rightarr {
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  right: 30px;
  top: 40px;
  display: none;
}

.sidebar .side-top .menu .menu-content .menu1 .choice .rightarr p {
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  margin-left: 1.5px;
}

.sidebar .side-top .menu .menu-content .menu1 .choice1-1:hover {
  background-image: url(../image/bahariya.jpeg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  transform: scale(1.1);
  transition: transform ease-out 1s;
}

.sidebar .side-top .menu .menu-content .menu1 .choice1-1:hover h4,
.sidebar .side-top .menu .menu-content .menu1 .choice1-1:hover p {
  color: #fff;
}

.sidebar .side-top .menu .menu-content .menu1 .choice1-1:hover .rightarr {
  display: block;
}

.sidebar .side-top .menu .menu-content .menu1 .choice1-2:hover {
  background-image: url(../image/header_bg.jpeg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  transform: scale(1.1);
  transition: transform ease-out 1s;
}

.sidebar .side-top .menu .menu-content .menu1 .choice1-2:hover h4,
.sidebar .side-top .menu .menu-content .menu1 .choice1-2:hover p {
  color: #fff;
}

.sidebar .side-top .menu .menu-content .menu1 .choice1-2:hover .rightarr {
  display: block;
}

.sidebar .side-top .menu .menu-content .menu1 .choice1-3:hover {
  background-image: url(../image/sahl.jpeg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  transform: scale(1.1);
  transition: transform ease-out 1s;
}

.sidebar .side-top .menu .menu-content .menu1 .choice1-3:hover h4,
.sidebar .side-top .menu .menu-content .menu1 .choice1-3:hover p {
  color: #fff;
}

.sidebar .side-top .menu .menu-content .menu1 .choice1-3:hover .rightarr {
  display: block;
}

.sidebar .side-top .menu .menu-content .menu1 .choice2-1:hover {
  background-image: url(../image/France.jpeg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  transform: scale(1.1);
  transition: transform ease-out 1s;
}

.sidebar .side-top .menu .menu-content .menu1 .choice2-1:hover h4,
.sidebar .side-top .menu .menu-content .menu1 .choice2-1:hover p {
  color: #fff;
}

.sidebar .side-top .menu .menu-content .menu1 .choice2-1:hover .rightarr {
  display: block;
}

.sidebar .side-top .menu .menu-content .menu1 .choice2-2:hover {
  background-image: url(../image/header_bg.jpeg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  transform: scale(1.1);
  transition: transform ease-out 1s;
}

.sidebar .side-top .menu .menu-content .menu1 .choice2-2:hover h4,
.sidebar .side-top .menu .menu-content .menu1 .choice2-2:hover p {
  color: #fff;
}

.sidebar .side-top .menu .menu-content .menu1 .choice2-2:hover .rightarr {
  display: block;
}

.sidebar .side-top .menu .menu-content .menu1 .choice2-3:hover {
  background-image: url(../image/bg_ocean.jpeg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  transform: scale(1.1);
  transition: transform ease-out 1s;
}

.sidebar .side-top .menu .menu-content .menu1 .choice2-3:hover h4,
.sidebar .side-top .menu .menu-content .menu1 .choice2-3:hover p {
  color: #fff;
}

.sidebar .side-top .menu .menu-content .menu1 .choice2-3:hover .rightarr {
  display: block;
}

.sidebar .side-top .menu .menu-content .menu1 .choice2-4:hover {
  background-image: url(../image/Egypt.jpeg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  transform: scale(1.1);
  transition: transform ease-out 1s;
}

.sidebar .side-top .menu .menu-content .menu1 .choice2-4:hover h4,
.sidebar .side-top .menu .menu-content .menu1 .choice2-4:hover p {
  color: #fff;
}

.sidebar .side-top .menu .menu-content .menu1 .choice2-4:hover .rightarr {
  display: block;
}

.sidebar .side-top .menu .menu-content .menu2 {
  width: 332px;
  height: 243.4px;
}

.sidebar .side-top .menu .menu-content .menu2 .menu2-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.sidebar .side-top .menu .menu-content .menu2 .menu2-header h3, .sidebar .side-top .menu .menu-content .menu2 .menu2-header footer .footer-wrapper .footer-logo h3 span, footer .footer-wrapper .footer-logo h3 .sidebar .side-top .menu .menu-content .menu2 .menu2-header span {
  letter-spacing: 3px;
  font-weight: 400;
  color: #081c3a;
}

.sidebar .side-top .menu .menu-content .menu2 .menu2-header hr {
  height: 1px;
  width: 137px;
  border: none;
  background-color: rgba(192, 192, 211, 0.3);
}

.sidebar .side-top .menu .menu-content .menu2 .choice1 {
  width: 330px;
  height: 62px;
  border: 1px solid rgba(192, 192, 211, 0.3);
  background-color: #f7f8fc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 21px 24px;
  box-sizing: border-box;
  margin-top: 15px;
  position: relative;
}

.sidebar .side-top .menu .menu-content .menu2 .choice1 .choice1-text {
  font-size: 14px;
  font-weight: 400;
  color: #081c3a;
}

.sidebar .side-top .menu .menu-content .menu2 .choice1 .rightarr1 {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(192, 192, 211, 0.2);
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 30px;
  top: 22px;
  display: none;
}

.sidebar .side-top .menu .menu-content .menu2 .choice1 .rightarr1 p {
  color: #081c3a;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  margin-left: 1px;
}

.sidebar .side-top .menu .menu-content .menu2 .choice1:hover .choice1-text,
.sidebar .side-top .menu .menu-content .menu2 .choice1:hover .rightarr1 {
  transform: translateX(10px);
  display: block;
  transition: all linear 2s;
}

.sidebar .side-top .menu .menu-content .social-media {
  width: 332px;
  height: 32px;
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.sidebar .side-top .menu .menu-content .social-media p {
  color: #081c3a;
  letter-spacing: 3px;
  margin-right: 25px;
}

.sidebar .side-top .menu .menu-content .social-media .social-icon {
  width: 108px;
  height: 32px;
  display: flex;
  justify-content: space-between;
}

.sidebar .side-top .menu .menu-content .social-media .social-icon .icon-1 {
  width: 32px;
  height: 32px;
  background-color: #f7f8fc;
  border-radius: 50%;
  position: relative;
}

.sidebar .side-top .menu .menu-content .social-media .social-icon .icon-1 img {
  width: 12px;
  height: 12px;
  position: absolute;
  top: calc(50% - (12px / 2));
  left: calc(50% - (12px / 2));
}

.sidebar .side-top .menu .close {
  width: 80px;
  height: 80px;
  font-size: 26px;
  font-weight: 600;
  color: #081c3a;
  position: absolute;
  top: 0;
  text-align: center;
  line-height: 80px;
}

.sidebar .side-bottom {
  height: calc(100vh - 80px);
  border-right: 1px solid rgba(192, 192, 211, 0.2);
}

.sidebar .side-bottom .scrollbar {
  height: calc((100vh - 80px) * 0.85);
}

.sidebar .side-bottom .social-media .social-icon {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(192, 192, 211, 0.2);
  border-radius: 50%;
  position: relative;
  left: calc(50% - 15px);
  margin-top: 10px;
}

.sidebar .side-bottom .social-media .social-icon img {
  width: 12px;
  height: 12px;
  position: absolute;
  top: calc(50% - (12px / 2));
  left: calc(50% - (12px / 2));
}

.nav1 {
  width: 100%;
  height: 0px;
  background-color: #fff;
  position: fixed;
  z-index: 2;
  border-bottom: 1px solid rgba(192, 192, 211, 0.2);
}

.choices {
  position: fixed;
  z-index: 2;
  top: 85px;
  right: 80px;
  width: 500px;
  height: 290px;
  background-color: #fff;
  padding: 24px;
  box-sizing: border-box;
  box-shadow: 0 0 5px 5px rgba(201, 198, 198, 0.2);
  border-radius: 5px;
  display: none;
}

.choices h3, .choices footer .footer-wrapper .footer-logo h3 span, footer .footer-wrapper .footer-logo h3 .choices span {
  color: #081c3a;
  letter-spacing: 3px;
  font-weight: 400;
  margin-bottom: 15px;
}

.choices .allloc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.choices .allloc .top {
  width: 456px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.choices .allloc .top .location {
  width: 218px;
  height: 96.4px;
  box-sizing: border-box;
  border: 1px solid rgba(192, 192, 211, 0.4);
  position: relative;
  border-radius: 5px;
  padding: 25px 45px 25px 30px;
  box-sizing: border-box;
}

.choices .allloc .top .location h2 {
  color: #081c3a;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.choices .allloc .top .location .rightarr {
  width: 20px;
  height: 20px;
  position: absolute;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  right: 30px;
  top: 40px;
  opacity: 0;
}

.choices .allloc .top .location .rightarr p {
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  margin-left: 1.5px;
}

.choices .allloc .top .loc1:hover {
  background-image: url(../image/France.jpeg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  transform: scale(1.1);
  transition: transform ease-out 1s;
}

.choices .allloc .top .loc1:hover h2,
.choices .allloc .top .loc1:hover h3,
.choices .allloc .top .loc1:hover footer .footer-wrapper .footer-logo h3 span, footer .footer-wrapper .footer-logo h3
.choices .allloc .top .loc1:hover span {
  color: #fff;
}

.choices .allloc .top .loc1:hover .rightarr {
  opacity: 1;
}

.choices .allloc .top .loc2:hover {
  background-image: url(../image/header_bg.jpeg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  transform: scale(1.1);
  transition: transform ease-out 1s;
}

.choices .allloc .top .loc2:hover h2,
.choices .allloc .top .loc2:hover h3,
.choices .allloc .top .loc2:hover footer .footer-wrapper .footer-logo h3 span, footer .footer-wrapper .footer-logo h3
.choices .allloc .top .loc2:hover span {
  color: #fff;
}

.choices .allloc .top .loc2:hover .rightarr {
  opacity: 1;
}

.choices .allloc .bottom {
  width: 456px;
  display: flex;
  justify-content: space-between;
}

.choices .allloc .bottom .location {
  width: 218px;
  height: 96.4px;
  border: 1px solid rgba(192, 192, 211, 0.4);
  position: relative;
  border-radius: 5px;
  padding: 25px 45px 25px 30px;
  box-sizing: border-box;
}

.choices .allloc .bottom .location h2 {
  color: #081c3a;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.choices .allloc .bottom .location .rightarr {
  width: 20px;
  height: 20px;
  position: absolute;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  right: 30px;
  top: 40px;
  opacity: 0;
}

.choices .allloc .bottom .location .rightarr p {
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  margin-left: 1.5px;
}

.choices .allloc .bottom .loc3:hover {
  background-image: url(../image/bg_ocean.jpeg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  transform: scale(1.1);
  transition: transform ease-out 1s;
}

.choices .allloc .bottom .loc3:hover h2,
.choices .allloc .bottom .loc3:hover h3,
.choices .allloc .bottom .loc3:hover footer .footer-wrapper .footer-logo h3 span, footer .footer-wrapper .footer-logo h3
.choices .allloc .bottom .loc3:hover span {
  color: #fff;
}

.choices .allloc .bottom .loc3:hover .rightarr {
  opacity: 1;
}

.choices .allloc .bottom .loc4:hover {
  background-image: url(../image/Egypt.jpeg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  transform: scale(1.1);
  transition: transform ease-out 1s;
}

.choices .allloc .bottom .loc4:hover h2,
.choices .allloc .bottom .loc4:hover h3,
.choices .allloc .bottom .loc4:hover footer .footer-wrapper .footer-logo h3 span, footer .footer-wrapper .footer-logo h3
.choices .allloc .bottom .loc4:hover span {
  color: #fff;
}

.choices .allloc .bottom .loc4:hover .rightarr {
  opacity: 1;
}

.nav {
  height: 80px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 2;
  box-sizing: border-box;
}

.nav .name {
  margin-left: 80px;
  padding-left: 36px;
  float: left;
  font-size: 22px;
  font-weight: 600;
  line-height: 80px;
  text-decoration: none;
}

.nav .navlink {
  width: 600px;
  display: inline-block;
  margin-left: 400px;
  height: 80px;
}

.nav .navlink .linka {
  width: 146px;
  opacity: 0;
  margin-top: 15px;
  padding: 15px 30px;
  box-sizing: border-box;
  letter-spacing: 3px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  color: #081c3a;
}

.nav .navlink .linka:hover {
  background-color: #f7f8fc;
  border-radius: 5px;
  transition: all linear 0.5s;
}

.nav .destination {
  width: 174.89px;
  height: 44px;
  margin-top: 20px;
  margin-right: 80px;
  line-height: 44px;
  float: right;
}

.nav .destination p {
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  letter-spacing: 6px;
  text-align: center;
  border: 1px solid rgba(192, 192, 211, 0.2);
  border-radius: 50%;
  border-radius: 5px;
}

.nav .destination:hover {
  cursor: pointer;
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
}

header img {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  transition: opacity ease-in 2s;
  overflow: hidden;
  display: flex;
}

header .bg2,
header .bg3 {
  opacity: 0;
  transition: opacity ease-in-out 2s;
}

header .overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(15, 19, 38, 0.55);
}

header .overlay .intro {
  width: 550px;
  height: 289px;
  display: inline-block;
  margin: 300px 0 0 220px;
}

header .overlay .intro h2 {
  font-weight: 300;
  letter-spacing: 3px;
  margin-bottom: 30px;
}

header .overlay .intro h1 {
  font-size: 68px;
  line-height: 1.1em;
  margin-bottom: 40px;
}

header .overlay .intro a {
  color: #081c3a;
  display: inline-block;
  background-color: #fff;
  text-decoration: none;
  border-radius: 5px;
  padding: 16px 32px;
  font-size: 10px;
  letter-spacing: 3px;
}

header .overlay .video-wrapper {
  position: absolute;
  top: 2%;
  right: 5%;
}

header .overlay .video-wrapper .video {
  float: right;
  margin: 20rem 180px 0 0;
  width: 300px;
  height: 300px;
  position: relative;
}

header .overlay .video-wrapper .video .doverlay {
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50% - (150px / 2));
  left: calc(50% - (150px / 2));
  background-color: rgba(15, 19, 38, 0.25);
  border-radius: 50%;
  opacity: 0;
  transition: transform ease-in 0.5s;
  z-index: 5;
}

header .overlay .video-wrapper .video .doverlay1 {
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50% - (150px / 2));
  left: calc(50% - (150px / 2));
  background-color: rgba(192, 194, 200, 0.25);
  border-radius: 50%;
  opacity: 0;
  transition: 2s;
  z-index: 3;
}

header .overlay .video-wrapper .video .doverlay2 {
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50% - (150px / 2));
  left: calc(50% - (150px / 2));
  background-color: rgba(15, 19, 38, 0.15);
  border-radius: 50%;
  opacity: 0;
  transition: 2s;
  z-index: 2;
}

header .overlay .video-wrapper .video video {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: fill;
  position: absolute;
  top: calc(50% - (150px / 2));
  left: calc(50% - (150px / 2));
  transition: transform ease-in 0.5s;
  opacity: 0;
  z-index: 4;
}

header .overlay .video-wrapper .video .movecircle {
  width: 160px;
  height: 160px;
  position: absolute;
  top: calc(50% - (160px / 2));
  left: calc(50% - (160px / 2));
}

header .overlay .video-wrapper .video .movecircle .overlay1 {
  width: 160px;
  height: 160px;
  position: absolute;
  top: calc(50% - (160px / 2));
  left: calc(50% - (160px / 2));
}

header .overlay .video-wrapper .video .movecircle .overlay1 .first_circle {
  width: 150px;
  height: 150px;
  border: 1px dashed rgba(192, 192, 211, 0.4);
  border-radius: 50%;
  position: absolute;
  top: calc(50% - (150px / 2));
  left: calc(50% - (150px / 2));
  transition: transform ease-in 0.5s;
  z-index: 6;
}

header .overlay .video-wrapper .video .movecircle .overlay1 .first_circle .second_circle {
  width: 88.8px;
  height: 88.8px;
  position: absolute;
  top: calc(50% - (88.8px / 2));
  left: calc(50% - (88.8px / 2));
  border: 1px solid rgba(192, 192, 211, 0.6);
  border-radius: 50%;
  background-color: rgba(192, 192, 211, 0.2);
  transition: transform ease-in 0.5s;
  z-index: 6;
}

header .overlay .video-wrapper .video .movecircle .overlay1 .first_circle .second_circle img {
  width: 14px;
  height: 14px;
  position: absolute;
  top: calc(50% - (14px / 2));
  left: calc(50% - (14px / 2));
}

header .overlay .popular_location {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
}

header .overlay .popular_location .lpl .tlpl,
header .overlay .popular_location .lpl .blpl {
  width: 70px;
  height: 70px;
  background-color: #fff;
  position: relative;
}

header .overlay .popular_location .lpl .tlpl p,
header .overlay .popular_location .lpl .blpl p {
  position: absolute;
  top: calc(50% - (16px / 2));
  left: calc(50% - (16px / 2));
  width: 16px;
  height: 16px;
  color: #081c3a;
  font-size: 16px;
  text-decoration: none;
}

header .overlay .popular_location .lpl .tlpl {
  border-top-left-radius: 5px;
}

header .overlay .popular_location .mpl {
  background-color: #f7f8fc;
  width: 360px;
  padding: 36px;
  box-sizing: border-box;
  position: relative;
}

header .overlay .popular_location .mpl h2 {
  position: absolute;
  top: -35px;
  letter-spacing: 3px;
  font-weight: 400;
  left: 0;
}

header .overlay .popular_location .mpl .change {
  height: 0;
  transition: opacity ease-in-out 2s;
}

header .overlay .popular_location .mpl .change h3, header .overlay .popular_location .mpl .change footer .footer-wrapper .footer-logo h3 span, footer .footer-wrapper .footer-logo h3 header .overlay .popular_location .mpl .change span,
header .overlay .popular_location .mpl .change p {
  color: #081c3a;
}

header .overlay .popular_location .mpl .change h3, header .overlay .popular_location .mpl .change footer .footer-wrapper .footer-logo h3 span, footer .footer-wrapper .footer-logo h3 header .overlay .popular_location .mpl .change span {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-bottom: 15px;
}

header .overlay .popular_location .mpl .change2,
header .overlay .popular_location .mpl .change3 {
  position: absolute;
  opacity: 0;
}

header .overlay .popular_location .rpl {
  width: 80px;
  background-color: #fff;
  position: relative;
}

header .overlay .popular_location .rpl a {
  position: absolute;
  top: calc(50% - (16px / 2));
  left: calc(50% - (16px / 2));
  width: 16px;
  height: 16px;
  color: #081c3a;
  font-size: 30px;
  text-decoration: none;
}

.covilla-destinations {
  height: 937.4px;
  padding: 140px 0;
  box-sizing: border-box;
  color: #081c3a;
  overflow: hidden;
  margin-left: 80px;
}

.covilla-destinations .topic-title {
  height: 99.4px;
  text-align: center;
}

.covilla-destinations .topic-title h3, .covilla-destinations .topic-title footer .footer-wrapper .footer-logo h3 span, footer .footer-wrapper .footer-logo h3 .covilla-destinations .topic-title span,
.covilla-destinations .topic-title h2 {
  color: #081c3a;
}

.covilla-destinations .topic-title h3, .covilla-destinations .topic-title footer .footer-wrapper .footer-logo h3 span, footer .footer-wrapper .footer-logo h3 .covilla-destinations .topic-title span {
  font-weight: 400;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.covilla-destinations .topic-title h2 {
  font-size: 48px;
}

.covilla-destinations .graphs {
  height: 500px;
  display: flex;
  width: 3500px;
  justify-content: space-evenly;
  position: relative;
  margin-left: 350px;
  margin-top: 50px;
}

.covilla-destinations .graphs .slides {
  width: 800px;
  height: 478.8px;
  box-sizing: border-box;
  transform-origin: center;
  transition: transform linear 2s;
}

.covilla-destinations .graphs .slides h2 {
  text-align: center;
  letter-spacing: 3px;
  font-size: 11px;
  font-weight: 400;
  margin-top: 350px;
}

.covilla-destinations .graphs .slides h3, .covilla-destinations .graphs .slides footer .footer-wrapper .footer-logo h3 span, footer .footer-wrapper .footer-logo h3 .covilla-destinations .graphs .slides span {
  font-family: "Poppins", sans-serif;
  font-size: 34px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}

.covilla-destinations .graphs .slide1 {
  background-image: url(../image/France.jpeg);
  background-size: cover;
}

.covilla-destinations .graphs .slide2 {
  background-image: url(../image/header_bg.jpeg);
  background-size: cover;
}

.covilla-destinations .graphs .slide3 {
  background-image: url(../image/bg_ocean.jpeg);
  background-size: cover;
}

.covilla-destinations .graphs .slide4 {
  background-image: url(../image/Egypt.jpeg);
  background-size: cover;
}

.covilla-destinations .graphs .c1 {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: -10px;
  left: 10.8%;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(192, 192, 211, 0.5);
  border-radius: 50%;
  text-align: center;
  color: #081c3a;
  line-height: 60px;
  font-size: 20px;
}

.covilla-destinations .graphs .c2 {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: -10px;
  left: 13.8%;
  border: 1px solid rgba(192, 192, 211, 0.5);
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  color: #081c3a;
  line-height: 60px;
  font-size: 20px;
}

.covilla-benefit {
  height: 1173.3904px;
  background-color: #f7f8fc;
  margin-left: 80px;
  color: #081c3a;
}

.covilla-benefit .benefit_content {
  width: 1280px;
  height: 1173.3904px;
  padding: 140px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.covilla-benefit .benefit_content .content-top {
  width: 1200px;
  height: 436.9904px;
  display: flex;
  justify-content: space-between;
}

.covilla-benefit .benefit_content .content-top .tl {
  box-sizing: border-box;
  padding: 18px 0;
}

.covilla-benefit .benefit_content .content-top .tl h3, .covilla-benefit .benefit_content .content-top .tl footer .footer-wrapper .footer-logo h3 span, footer .footer-wrapper .footer-logo h3 .covilla-benefit .benefit_content .content-top .tl span {
  letter-spacing: 3px;
  font-weight: 500;
  margin-bottom: 20px;
}

.covilla-benefit .benefit_content .content-top .tl h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.covilla-benefit .benefit_content .content-top .tl p {
  color: #516381;
  font-size: 19px;
  line-height: 1.6em;
  margin-bottom: 40px;
}

.covilla-benefit .benefit_content .content-top .tl a {
  color: #fff;
  display: inline-block;
  padding: 20px 32px;
  letter-spacing: 3px;
  background-color: #3572ff;
  border-radius: 5px;
  text-decoration: none;
}

.covilla-benefit .benefit_content .content-top .tl h3, .covilla-benefit .benefit_content .content-top .tl footer .footer-wrapper .footer-logo h3 span, footer .footer-wrapper .footer-logo h3 .covilla-benefit .benefit_content .content-top .tl span,
.covilla-benefit .benefit_content .content-top .tl h2,
.covilla-benefit .benefit_content .content-top .tl p {
  color: #081c3a;
}

.covilla-benefit .benefit_content .content-top .tr {
  width: 650px;
  background: url(../image/tr.jpeg) no-repeat 0 0/100% 100%;
  border-radius: 5px;
}

.covilla-benefit .benefit_content .content-bottom {
  width: 1200px;
}

.covilla-benefit .benefit_content .content-bottom .content-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.covilla-benefit .benefit_content .content-bottom .content-header h3, .covilla-benefit .benefit_content .content-bottom .content-header footer .footer-wrapper .footer-logo h3 span, footer .footer-wrapper .footer-logo h3 .covilla-benefit .benefit_content .content-bottom .content-header span {
  color: #081c3a;
  letter-spacing: 3px;
  font-weight: 400;
}

.covilla-benefit .benefit_content .content-bottom .content-header hr {
  height: 1px;
  width: 1000px;
  border: none;
  background-color: rgba(192, 192, 211, 0.3);
}

.covilla-benefit .benefit_content .content-bottom .bottom-box {
  display: flex;
}

.covilla-benefit .benefit_content .content-bottom .bottom-box .b {
  width: 298.7504px;
  height: 275px;
  border: 1px solid rgba(192, 192, 211, 0.2);
  border-radius: 50%;
  box-sizing: border-box;
  border-radius: 0;
  padding: 30px 36px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.covilla-benefit .benefit_content .content-bottom .bottom-box .b:hover {
  transform: scale(1.05);
  transition: all linear 1s;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 3px 3px rgba(201, 198, 198, 0.2);
}

.covilla-benefit .benefit_content .content-bottom .bottom-box .b .bicon {
  width: 60px;
  height: 60px;
  border: 1px solid rgba(192, 192, 211, 0.5);
  border-radius: 50%;
  position: relative;
  background-color: #f7f8fc;
}

.covilla-benefit .benefit_content .content-bottom .bottom-box .b .bicon img {
  width: 26px;
  height: 23.88px;
  position: absolute;
  top: calc(50% - (23.88px / 2));
  left: calc(50% - (26px / 2));
}

.covilla-benefit .benefit_content .content-bottom .bottom-box .b .bword h4 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  color: #081c3a;
  font-weight: 500;
  margin-bottom: 10px;
  letter-spacing: -0.5008px;
}

.covilla-benefit .benefit_content .content-bottom .bottom-box .b .bword p {
  color: #516381;
  font-size: 14px;
}

.cassie {
  height: 830px;
  background: url(../image/beach.jpeg) no-repeat 0 0/100% 100%;
  position: relative;
}

.cassie .tracknum {
  position: absolute;
  left: 80px;
  display: flex;
  flex-direction: column;
  top: 200px;
}

.cassie .tracknum .tracker {
  position: absolute;
  width: 2px;
  height: 66px;
  background-color: #fff;
  transition: transform ease-out 1s;
}

.cassie .tracknum .num {
  transition: font-weight ease-out 1s;
  width: 48px;
  height: 66px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 66px;
}

.cassie .tracknum .num1 {
  font-weight: 700;
}

.cassie .darklay {
  width: 100%;
  height: 830px;
  background-color: rgba(15, 19, 38, 0.55);
}

.cassie .darklay .cword {
  padding-top: 200px;
  width: 600px;
  height: 280px;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  line-height: 34px;
  position: relative;
}

.cassie .darklay .cword .cwordall .pall {
  font-size: 19px;
  margin-bottom: 22px;
}

.cassie .darklay .cword .cwordall .hall {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
}

.cassie .darklay .cword .cword1 {
  transition: all linear 2s;
}

.cassie .darklay .cword .cword2, .cassie .darklay .cword .cword3, .cassie .darklay .cword .cword4, .cassie .darklay .cword .cword5 {
  transition: opacity linear 2s;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.cassie .darklay .cword .cwordlarr {
  width: 60px;
  height: 60px;
  position: absolute;
  background-color: #fff;
  border: 1px solid rgba(192, 192, 211, 0.5);
  border-radius: 50%;
  border-radius: 50%;
  bottom: 0;
  left: calc(45% - 40px);
  text-align: center;
  color: #081c3a;
  line-height: 60px;
  font-size: 20px;
}

.cassie .darklay .cword .cwordrarr {
  width: 60px;
  height: 60px;
  position: absolute;
  background-color: #fff;
  border: 1px solid rgba(192, 192, 211, 0.5);
  border-radius: 50%;
  border-radius: 50%;
  bottom: 0;
  right: calc(45% - 40px);
  text-align: center;
  color: #081c3a;
  line-height: 60px;
  font-size: 20px;
}

.pop-vacation {
  height: 724.09px;
  padding: 0 80px;
}

.pop-vacation .vacation-info {
  margin: 0 auto;
  width: 1280px;
  height: 650.69px;
  box-sizing: border-box;
  padding: 48px 48px 0;
  margin-top: -60px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pop-vacation .vacation-info .vacation-header {
  position: absolute;
  top: -40px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pop-vacation .vacation-info .vacation-header h3, .pop-vacation .vacation-info .vacation-header footer .footer-wrapper .footer-logo h3 span, footer .footer-wrapper .footer-logo h3 .pop-vacation .vacation-info .vacation-header span {
  letter-spacing: 3px;
  font-weight: 400;
  float: left;
  margin-right: 10px;
}

.pop-vacation .vacation-info .vacation-header hr {
  height: 1px;
  width: 980px;
  border: none;
  background-color: rgba(192, 192, 211, 0.5);
}

.pop-vacation .vacation-info .country {
  display: flex;
}

.pop-vacation .vacation-info .country .countries {
  width: 287px;
  height: 60px;
  position: relative;
  box-sizing: border-box;
  color: #081c3a;
  font-size: 12px;
  letter-spacing: 4px;
  text-align: center;
  border-bottom: 2px solid rgba(192, 192, 211, 0.5);
  transition: border-bottom linear 1s;
}

.pop-vacation .vacation-info .country .countries .chosen {
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  position: absolute;
  bottom: calc(0px - (12px / 2));
  left: calc(50% - (12px / 2));
  border-radius: 50%;
  background-color: #fff;
  border: 0.9px solid #000;
  transition: transform linear 1s;
}

.pop-vacation .vacation-info .country .countries .dot {
  position: absolute;
  bottom: -6px;
  left: calc(50% - 6px);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #c0c0d3;
  transition: background-color linear 1s;
}

.pop-vacation .vacation-info .country .li {
  border-bottom: 2px solid #000;
}

.pop-vacation .vacation-info .country .li .chosen1 {
  transform: scale(3);
}

.pop-vacation .vacation-info .country .li .dot1 {
  background-color: #000;
}

.pop-vacation .vacation-info .vacation_location {
  display: flex;
  justify-content: space-between;
}

.pop-vacation .vacation-info .vacation_location .locations {
  padding: 18px;
  width: 358.66px;
  height: 470.69px;
  border: 1px solid rgba(192, 192, 211, 0.2);
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pop-vacation .vacation-info .vacation_location .locations:hover {
  transform: scale(1.05);
  transition: all linear 1s;
  border: none;
  box-shadow: 0 0 3px 3px rgba(201, 198, 198, 0.2);
}

.pop-vacation .vacation-info .vacation_location .locations .up-location img {
  width: 320.66px;
  height: 250px;
  border-radius: 15px;
}

.pop-vacation .vacation-info .vacation_location .locations .down-location {
  height: 158.69px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pop-vacation .vacation-info .vacation_location .locations .down-location .word {
  padding: 0 12px;
}

.pop-vacation .vacation-info .vacation_location .locations .down-location .word h2 {
  color: #081c3a;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 8px;
}

.pop-vacation .vacation-info .vacation_location .locations .down-location .word p {
  color: #516381;
  line-height: 22px;
  font-size: 14px;
}

.pop-vacation .vacation-info .vacation_location .locations .down-location .price {
  display: flex;
  justify-content: space-between;
  padding: 18px 12px 0;
  border-top: 1px solid rgba(192, 192, 211, 0.2);
}

.pop-vacation .vacation-info .vacation_location .locations .down-location .price p {
  color: #516381;
  font-size: 8px;
  line-height: 20px;
  letter-spacing: 3px;
}

.pop-vacation .vacation-info .vacation_location .locations .down-location .price p .num {
  color: #081c3a;
  font-size: 14px;
  letter-spacing: normal;
}

.pop-vacation .vacation-info .vacation_location .locations .down-location .price .detail {
  border: 1px solid rgba(192, 192, 211, 0.2);
  padding: 15px 24px;
  box-sizing: border-box;
}

.pop-vacation .vacation-info .vacation_location .locations .down-location .price .detail a {
  color: #081c3a;
  font-size: 10px;
  letter-spacing: 3px;
  text-decoration: none;
}

.pop-vacation .vacation-info .v2,
.pop-vacation .vacation-info .v3,
.pop-vacation .vacation-info .v4 {
  display: none;
}

.covilla-promise {
  height: 583.4px;
  margin-left: 80px;
  background: url(../image/header_bg.jpeg) no-repeat 0 0/100% 100%;
}

.covilla-promise .darkoverlay {
  width: 100%;
  height: 583.4px;
  background-color: rgba(15, 19, 38, 0.4);
}

.covilla-promise .darkoverlay .promise {
  text-align: center;
  padding: 140px 0 200px;
}

.covilla-promise .darkoverlay .promise h3, .covilla-promise .darkoverlay .promise footer .footer-wrapper .footer-logo h3 span, footer .footer-wrapper .footer-logo h3 .covilla-promise .darkoverlay .promise span {
  letter-spacing: 3px;
  font-weight: 400;
  margin-bottom: 20px;
}

.covilla-promise .darkoverlay .promise h2 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 60px;
}

.covilla-promise .darkoverlay .promise .contact {
  padding: 18px 36px;
  background-color: #fff;
  color: #081c3a;
  border-radius: 5px;
  text-decoration: none;
  font-size: 10px;
  letter-spacing: 3px;
}

.covilla-promise .darkoverlay .promise .how {
  padding: 18px 36px;
  border: 1px solid rgba(192, 192, 211, 0.5);
  border-radius: 5px;
  text-decoration: none;
  font-size: 10px;
  letter-spacing: 3px;
  margin-left: 15px;
}

.get-started {
  height: 890px;
  box-sizing: border-box;
  padding: 140px 0 140px 60px;
}

.get-started .gs-wrapper {
  width: 1280px;
  height: 610.98px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.get-started .gs-wrapper .leftgs {
  width: 490.66px;
  height: 610.98px;
  padding: 18px 18px 36px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid rgba(192, 192, 211, 0.2);
  border-radius: 10px;
  background-color: #f7f8fc;
}

.get-started .gs-wrapper .leftgs .leftgs-img {
  width: 452.66px;
  height: 200px;
  background: url(../image/people_on_sand.jpeg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 5px;
}

.get-started .gs-wrapper .leftgs .word {
  width: 452.66px;
  height: 318px;
  padding: 0 18px;
  box-sizing: border-box;
}

.get-started .gs-wrapper .leftgs .word h3, .get-started .gs-wrapper .leftgs .word footer .footer-wrapper .footer-logo h3 span, footer .footer-wrapper .footer-logo h3 .get-started .gs-wrapper .leftgs .word span {
  color: #081c3a;
  letter-spacing: 3px;
  font-weight: 400;
  margin-bottom: 20px;
}

.get-started .gs-wrapper .leftgs .word h2 {
  color: #081c3a;
  font-size: 34px;
  margin-bottom: 20px;
}

.get-started .gs-wrapper .leftgs .word p {
  color: #516381;
  font-size: 19px;
  margin-bottom: 38px;
  line-height: 30px;
}

.get-started .gs-wrapper .leftgs .word a {
  display: inline-block;
  background-color: #3572ff;
  padding: 18px 38px;
  font-size: 10px;
  border-radius: 5px;
  text-decoration: none;
  letter-spacing: 3px;
}

.get-started .gs-wrapper .rightgs {
  width: 551.34px;
  height: 610.98px;
  height: 610.98px;
  overflow-y: scroll;
}

.get-started .gs-wrapper .rightgs .rightgs-wrapper {
  height: 1464.34px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.get-started .gs-wrapper .rightgs .rightgs-wrapper h3, .get-started .gs-wrapper .rightgs .rightgs-wrapper footer .footer-wrapper .footer-logo h3 span, footer .footer-wrapper .footer-logo h3 .get-started .gs-wrapper .rightgs .rightgs-wrapper span {
  color: #081c3a;
  font-weight: 300;
  letter-spacing: 3px;
}

.get-started .gs-wrapper .rightgs .rightgs-wrapper .rgs-card {
  padding: 36px;
  height: 321.09px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid rgba(192, 192, 211, 0.2);
}

.get-started .gs-wrapper .rightgs .rightgs-wrapper .rgs-card .nums {
  width: 60px;
  height: 60px;
  background-color: #f7f8fc;
  border: 1px solid rgba(192, 192, 211, 0.2);
  border-radius: 50%;
  position: relative;
}

.get-started .gs-wrapper .rightgs .rightgs-wrapper .rgs-card .nums span {
  font-size: 14px;
  color: #081c3a;
  display: inline-block;
  height: 20px;
  position: absolute;
  top: calc(50% - (20px / 2));
  left: calc(50% - (6px / 2));
}

.get-started .gs-wrapper .rightgs .rightgs-wrapper .rgs-card .word {
  width: 477.34px;
  height: 127.09px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.get-started .gs-wrapper .rightgs .rightgs-wrapper .rgs-card .word h4 {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  color: #081c3a;
  font-weight: 500;
}

.get-started .gs-wrapper .rightgs .rightgs-wrapper .rgs-card .word p {
  color: #516381;
  font-size: 17px;
  line-height: 25px;
}

.about-covilla {
  height: 487.77px;
  background-color: #f7f8fc;
  margin-left: 80px;
}

.about-covilla .about-wrapper {
  width: 1280px;
  height: 487.77px;
  padding: 140px 0 100px 80px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.about-covilla .about-wrapper .lac {
  width: 600px;
}

.about-covilla .about-wrapper .lac h3, .about-covilla .about-wrapper .lac footer .footer-wrapper .footer-logo h3 span, footer .footer-wrapper .footer-logo h3 .about-covilla .about-wrapper .lac span {
  color: #081c3a;
  letter-spacing: 3px;
  font-weight: 400;
  margin-bottom: 30px;
}

.about-covilla .about-wrapper .lac h2 {
  color: #081c3a;
  font-size: 34px;
  line-height: 1.3em;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  letter-spacing: -0.03em;
}

.about-covilla .about-wrapper .rac {
  width: 471.43px;
}

.about-covilla .about-wrapper .rac p {
  color: #516381;
  font-size: 17px;
  line-height: 1.8em;
}

.about-covilla .about-wrapper .rac .rac1 {
  margin: 36px 0 20px 0;
}

.photo {
  box-sizing: border-box;
  position: relative;
  height: 427.5px;
  display: flex;
  margin-left: 80px;
  overflow: hidden;
}

.photo .slide {
  width: 427.5px;
  height: 427.5px;
  transform: translateX(-427.5px);
  transition: transform linear 2s;
}

.photo .slide img {
  width: 427.5px;
  height: 427.5px;
  background-position: center;
}

.photo ul {
  bottom: 10px;
  left: 45%;
  position: absolute;
  list-style: none;
  display: flex;
}

.photo ul .dots {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 20px;
  background-color: #081c3a;
}

.travel-agents {
  height: 831.5px;
  background-color: #f7f8fc;
  box-sizing: border-box;
}

.travel-agents .agents-wrapper {
  width: 1280px;
  height: 831.5px;
  margin: 0 auto;
  padding: 100px 0 200px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.travel-agents .agents-wrapper .agents-top {
  width: 1280px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.travel-agents .agents-wrapper .agents-top h3, .travel-agents .agents-wrapper .agents-top footer .footer-wrapper .footer-logo h3 span, footer .footer-wrapper .footer-logo h3 .travel-agents .agents-wrapper .agents-top span {
  color: #081c3a;
  letter-spacing: 3px;
  font-weight: 400;
}

.travel-agents .agents-wrapper .agents-top hr {
  height: 1px;
  width: 800px;
  border: none;
  background-color: rgba(192, 192, 211, 0.5);
}

.travel-agents .agents-wrapper .agents-top a {
  display: inline-block;
  padding: 9px 18px;
  color: #081c3a;
  font-size: 10px;
  border: 1px solid rgba(192, 192, 211, 0.2);
  text-decoration: none;
  letter-spacing: 3px;
}

.travel-agents .agents-wrapper .agents-bottom {
  display: flex;
  width: 1280px;
  height: 455.5px;
}

.travel-agents .agents-wrapper .agents-bottom .agents-info {
  width: 320px;
  height: 453px;
  box-sizing: border-box;
  padding: 18px 18px 30px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.travel-agents .agents-wrapper .agents-bottom .agents-info .info-top {
  width: 284px;
  height: 325px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}

.travel-agents .agents-wrapper .agents-bottom .agents-info .info-top img {
  width: 284px;
  height: 453px;
  box-sizing: border-box;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -30px;
}

.travel-agents .agents-wrapper .agents-bottom .agents-info .info-bottom {
  padding: 0 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 56.5px;
}

.travel-agents .agents-wrapper .agents-bottom .agents-info .info-bottom h2 {
  color: #081c3a;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.travel-agents .agents-wrapper .agents-bottom .agents-info .info-bottom p {
  font-size: 14px;
  color: #516381;
}

.travel-agents .agents-wrapper .agents-bottom .agents-info:hover {
  transform: scale(1.05);
  transition: all linear 1s;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 3px 3px rgba(201, 198, 198, 0.4);
}

.travel-agents .agents-wrapper .agents-bottom .info-1 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.travel-agents .agents-wrapper .agents-bottom .info-2 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.popular-post {
  height: 840.96px;
  padding: 0 0 140px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(192, 192, 211, 0.2);
}

.popular-post .popular-post-wrapper {
  width: 1280px;
  height: 700.96px;
  box-sizing: border-box;
  background-color: #fff;
  position: relative;
  margin: 0 auto;
}

.popular-post .popular-post-wrapper .pop-post-info-wrapper {
  position: absolute;
  top: -60px;
  width: 1280px;
  height: 700.96px;
  padding: 48px 48px 0;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.popular-post .popular-post-wrapper .pop-post-info-wrapper .leftpost {
  width: 585.14px;
  height: 652.96px;
  border-radius: 10px;
  background-image: url(../image/post.jpeg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.popular-post .popular-post-wrapper .pop-post-info-wrapper .leftpost .website {
  width: 513.14px;
  height: 331.57px;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  bottom: -60px;
  left: calc(50% - 265.785px);
  padding: 0 36px 36px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 2px 1px rgba(201, 198, 198, 0.4);
}

.popular-post .popular-post-wrapper .pop-post-info-wrapper .leftpost .website::before {
  width: 120px;
  text-align: center;
  padding: 8px 10px 8px 12px;
  content: "APRIL, 19, 2021";
  font-size: 8px;
  color: #081c3a;
  letter-spacing: 3px;
  margin-top: -10px;
  background-color: #f7f8fc;
  border-radius: 5px;
}

.popular-post .popular-post-wrapper .pop-post-info-wrapper .leftpost .website h2 {
  font-family: "Poppins", sans-serif;
  font-size: 34px;
  color: #081c3a;
  font-weight: 600;
  line-height: 1.2em;
}

.popular-post .popular-post-wrapper .pop-post-info-wrapper .leftpost .website p {
  color: #516381;
  font-size: 17px;
  line-height: 1.6em;
}

.popular-post .popular-post-wrapper .pop-post-info-wrapper .leftpost .website a {
  width: 130px;
  height: 44px;
  box-sizing: border-box;
  font-size: 10px;
  color: #081c3a;
  padding: 9px 18px;
  border: 1px solid rgba(192, 192, 211, 0.2);
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  line-height: 30px;
}

.popular-post .popular-post-wrapper .pop-post-info-wrapper .rightpost {
  width: 438.86px;
  height: 652.96px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popular-post .popular-post-wrapper .pop-post-info-wrapper .rightpost .top-rightpost {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular-post .popular-post-wrapper .pop-post-info-wrapper .rightpost .top-rightpost h3, .popular-post .popular-post-wrapper .pop-post-info-wrapper .rightpost .top-rightpost footer .footer-wrapper .footer-logo h3 span, footer .footer-wrapper .footer-logo h3 .popular-post .popular-post-wrapper .pop-post-info-wrapper .rightpost .top-rightpost span {
  color: #516381;
  letter-spacing: 3px;
  font-weight: 500;
}

.popular-post .popular-post-wrapper .pop-post-info-wrapper .rightpost .top-rightpost hr {
  height: 1px;
  width: 300px;
  border: none;
  background-color: rgba(192, 192, 211, 0.5);
}

.popular-post .popular-post-wrapper .pop-post-info-wrapper .rightpost .right-post {
  width: 438.86px;
  height: 144.39px;
  box-sizing: border-box;
  padding: 6px;
  display: flex;
  justify-content: space-between;
}

.popular-post .popular-post-wrapper .pop-post-info-wrapper .rightpost .right-post:hover {
  transform: scale(1.02);
  transition: all linear 1s;
  border-radius: 10px;
  box-shadow: 0 0 3px 3px rgba(192, 192, 211, 0.5);
}

.popular-post .popular-post-wrapper .pop-post-info-wrapper .rightpost .right-post img {
  width: 134.28px;
  height: 132.39px;
  border-radius: 10px;
}

.popular-post .popular-post-wrapper .pop-post-info-wrapper .rightpost .right-post .right-post-info {
  width: 268.58px;
  height: 132.39px;
  display: flex;
  flex-direction: column;
  padding: 18px 18px 18px 0;
  box-sizing: border-box;
  justify-content: space-between;
}

.popular-post .popular-post-wrapper .pop-post-info-wrapper .rightpost .right-post .right-post-info h4 {
  width: 120px;
  height: 25.59px;
  box-sizing: border-box;
  color: #081c3a;
  font-size: 8px;
  font-weight: 400;
  letter-spacing: 3px;
  padding: 8px 10px 8px 12px;
  background-color: #f7f8fc;
  border-radius: 5px;
}

.popular-post .popular-post-wrapper .pop-post-info-wrapper .rightpost .right-post .right-post-info h3, .popular-post .popular-post-wrapper .pop-post-info-wrapper .rightpost .right-post .right-post-info footer .footer-wrapper .footer-logo h3 span, footer .footer-wrapper .footer-logo h3 .popular-post .popular-post-wrapper .pop-post-info-wrapper .rightpost .right-post .right-post-info span {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #081c3a;
  font-weight: 500;
}

footer {
  height: 142px;
}

footer .footer-wrapper {
  width: 1280px;
  height: 142px;
  margin: 0 auto;
  padding: 48px 0 22px 36px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

footer .footer-wrapper .footer-destinations {
  width: 537.34px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .footer-wrapper .footer-destinations p {
  padding: 9px 14px;
  background-color: #f7f8fc;
  color: #081c3a;
  border-radius: 5px;
  letter-spacing: 3px;
}

footer .footer-wrapper .footer-destinations a {
  color: #081c3a;
  text-decoration: none;
  letter-spacing: 3px;
  padding: 9px 14px;
}

footer .footer-wrapper .footer-destinations a:hover {
  background-color: #f7f8fc;
  transition: all linear 1s;
  border-radius: 5px;
}

footer .footer-wrapper .footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

footer .footer-wrapper .footer-logo h3, footer .footer-wrapper .footer-logo h3 span {
  font-size: 24px;
  color: #081c3a;
}

footer .footer-wrapper .footer-logo h3 span {
  font-weight: 500;
}

footer .footer-wrapper .footer-logo p {
  color: #081c3a;
  font-size: 12px;
}
