* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 11px;
  color: #fff;
}

$b_color: rgba(192, 192, 211, 0.2);
$f_color: rgba(192, 192, 211, 0.4);
$c: #081c3a;

@mixin pop {
  font-family: "Poppins", sans-serif;
}

@mixin border($p, $t, $a) {
  border: $p $t rgba(192, 192, 211, $a);
  border-radius: 50%;
}

@mixin box($w, $h) {
  width: $w;
  height: $h;
}

@mixin abs($w, $h) {
  position: absolute;
  top: calc(50% - (#{$h} / 2));
  left: calc(50% - (#{$w} / 2));
}

@mixin cabs($w, $h) {
  bottom: calc(0px - (#{$h} / 2));
  left: calc(50% - (#{$w} / 2));
}
.sidebar {
  @include box(80px, 100vh);
  position: fixed; //always on the left
  top: 0;
  left: 0;
  z-index: 3;
  .side-top {
    @include box(80px, 80px);
    background-color: #fff;
    position: relative;

    .rec {
      @include box(26px, 13px);
      @include abs(26px, 13px);
      box-sizing: border-box;
      border-top: 2px solid #000;
      border-bottom: 2px solid #000;
    } //end of rec

    .menu {
      padding-top: 116px;
      box-sizing: border-box;
      @include box(448px, 100vh);
      background-color: #fff;
      margin-left: -448px;
      transition: all ease-in 0.7s;
      position: relative;
      h2 {
        padding-left: 80px;
        color: $c;
        font-weight: 600;
        font-size: 34px;
        @include pop();
      }
      .menu-content {
        width: 448px;
        box-sizing: border-box;
        height: calc(90%);
        padding: 0 36px 36px 80px;
        overflow-y: scroll;

        .menu1 {
          .menu1-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 50px;

            h3 {
              letter-spacing: 3px;
              font-weight: 400;
              color: $c;
            }
            hr {
              height: 1px;
              width: 137px;
              border: none;
              background-color: rgba(192, 192, 211, 0.3);
            }
          }
          .choice {
            @include box(330px, 96.4px);
            border: 1px solid rgba(192, 192, 211, 0.3);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 21px 24px;
            box-sizing: border-box;
            margin-top: 30px;
            h4 {
              @include pop();
              font-size: 18px;
              font-weight: 500;
              color: $c;
            }
            p {
              letter-spacing: 3px;
              font-weight: 400;
              color: $c;
            }
            .rightarr {
              @include box(16px, 16px);
              border: 1px solid #fff;
              border-radius: 50%;
              position: absolute;
              right: 30px;
              top: 40px;
              display: none;
              p {
                font-size: 20px;
                text-align: center;
                line-height: 20px;
                margin-left: 1.5px;
              }
            }
          }
          .choice1-1:hover {
            background-image: url(../image/bahariya.jpeg);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 5px;
            transform: scale(1.1);
            transition: transform ease-out 1s;
            h4,
            p {
              color: #fff;
            }
            .rightarr {
              display: block;
            }
          } //end of choice1-1
          .choice1-2:hover {
            background-image: url(../image/header_bg.jpeg);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 5px;
            transform: scale(1.1);
            transition: transform ease-out 1s;
            h4,
            p {
              color: #fff;
            }
            .rightarr {
              display: block;
            }
          } //end of choice1-2
          .choice1-3:hover {
            background-image: url(../image/sahl.jpeg);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 5px;
            transform: scale(1.1);
            transition: transform ease-out 1s;
            h4,
            p {
              color: #fff;
            }
            .rightarr {
              display: block;
            }
          } //end of choice1-3
          .choice2-1:hover {
            background-image: url(../image/France.jpeg);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 5px;
            transform: scale(1.1);
            transition: transform ease-out 1s;
            h4,
            p {
              color: #fff;
            }
            .rightarr {
              display: block;
            }
          } //end of choice2-1
          .choice2-2:hover {
            background-image: url(../image/header_bg.jpeg);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 5px;
            transform: scale(1.1);
            transition: transform ease-out 1s;
            h4,
            p {
              color: #fff;
            }
            .rightarr {
              display: block;
            }
          } //end of choice2-2
          .choice2-3:hover {
            background-image: url(../image/bg_ocean.jpeg);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 5px;
            transform: scale(1.1);
            transition: transform ease-out 1s;
            h4,
            p {
              color: #fff;
            }
            .rightarr {
              display: block;
            }
          } //end of choice2-3
          .choice2-4:hover {
            background-image: url(../image/Egypt.jpeg);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 5px;
            transform: scale(1.1);
            transition: transform ease-out 1s;
            h4,
            p {
              color: #fff;
            }
            .rightarr {
              display: block;
            }
          } //end of choice2-4
        } //end of menu1
        .menu2 {
          @include box(332px, 243.4px);
          .menu2-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 50px;

            h3 {
              letter-spacing: 3px;
              font-weight: 400;
              color: $c;
            }
            hr {
              height: 1px;
              width: 137px;
              border: none;
              background-color: rgba(192, 192, 211, 0.3);
            }
          }
          .choice1 {
            @include box(330px, 62px);
            border: 1px solid rgba(192, 192, 211, 0.3);
            background-color: #f7f8fc;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 21px 24px;
            box-sizing: border-box;
            margin-top: 15px;
            position: relative;
            .choice1-text {
              font-size: 14px;
              font-weight: 400;
              color: $c;
            }
            .rightarr1 {
              @include box(16px, 16px);
              border: 1px solid $b_color;
              background-color: #fff;
              border-radius: 50%;
              position: absolute;
              right: 30px;
              top: 22px;
              display: none;
              p {
                color: $c;
                font-size: 20px;
                text-align: center;
                line-height: 20px;
                margin-left: 1px;
              }
            }
            &:hover {
              .choice1-text,
              .rightarr1 {
                transform: translateX(10px);
                display: block;
                transition: all linear 2s;
              }
            }
          } //end of choice1
        } //end of menu2
        .social-media {
          @include box(332px, 32px);
          margin-top: 50px;
          display: flex;
          align-items: center;
          p {
            color: $c;
            letter-spacing: 3px;
            margin-right: 25px;
          }
          .social-icon {
            @include box(108px, 32px);
            display: flex;
            justify-content: space-between;
            .icon-1 {
              @include box(32px, 32px);
              background-color: #f7f8fc;
              border-radius: 50%;
              position: relative;
              img {
                @include box(12px, 12px);
                @include abs(12px, 12px);
              }
            }
          }
        } //end of social media
      } //end of menu content
      .close {
        @include box(80px, 80px);
        font-size: 26px;
        font-weight: 600;
        color: $c;
        position: absolute;
        top: 0;
        text-align: center;
        line-height: 80px;
      }
    } //end of menu
  } //end of side top

  .side-bottom {
    height: calc(100vh - 80px);
    border-right: 1px solid $b_color;

    .scrollbar {
      height: calc((100vh - 80px) * 0.85);
    } //end of scrollbar

    .social-media {
      .social-icon {
        @include box(30px, 30px);
        @include border(1px, solid, 0.2);
        position: relative;
        left: calc(50% - 15px);
        margin-top: 10px;

        img {
          @include box(12px, 12px);
          @include abs(12px, 12px);
        } //end of img
      } //end of social icon
    } //end of social media
  } //end of side bottom
} //end of sidebar

.nav1 {
  width: 100%;
  height: 0px;
  background-color: #fff;
  position: fixed;
  z-index: 2;
  border-bottom: 1px solid $b_color;
}

.choices {
  position: fixed;
  z-index: 2;
  top: 85px;
  right: 80px;
  @include box(500px, 290px);
  background-color: #fff;
  padding: 24px;
  box-sizing: border-box;
  box-shadow: 0 0 5px 5px rgba(201, 198, 198, 0.2);
  border-radius: 5px;
  display: none;
  h3 {
    color: $c;
    letter-spacing: 3px;
    font-weight: 400;
    margin-bottom: 15px;
  }

  .allloc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .top {
      width: 456px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 22px;
      .location {
        @include box(218px, 96.4px);
        box-sizing: border-box;
        border: 1px solid $f_color;
        position: relative;
        border-radius: 5px;
        padding: 25px 45px 25px 30px;
        box-sizing: border-box;
        h2 {
          color: $c;
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 10px;
        }
        .rightarr {
          @include box(20px, 20px);
          position: absolute;
          border: 1px solid #fff;
          border-radius: 50%;
          position: absolute;
          right: 30px;
          top: 40px;
          opacity: 0;
          p {
            font-size: 20px;
            text-align: center;
            line-height: 20px;
            margin-left: 1.5px;
          }
        }
      }
      .loc1:hover {
        background-image: url(../image/France.jpeg);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
        transform: scale(1.1);
        transition: transform ease-out 1s;
        h2,
        h3 {
          color: #fff;
        }
        .rightarr {
          opacity: 1;
        }
      }
      .loc2:hover {
        background-image: url(../image/header_bg.jpeg);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
        transform: scale(1.1);
        transition: transform ease-out 1s;
        h2,
        h3 {
          color: #fff;
        }
        .rightarr {
          opacity: 1;
        }
      }
    } //end of top
    .bottom {
      width: 456px;
      display: flex;
      justify-content: space-between;
      .location {
        @include box(218px, 96.4px);
        border: 1px solid $f_color;
        position: relative;
        border-radius: 5px;
        padding: 25px 45px 25px 30px;
        box-sizing: border-box;
        h2 {
          color: $c;
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 10px;
        }
        .rightarr {
          @include box(20px, 20px);
          position: absolute;
          border: 1px solid #fff;
          border-radius: 50%;
          position: absolute;
          right: 30px;
          top: 40px;
          opacity: 0;
          p {
            font-size: 20px;
            text-align: center;
            line-height: 20px;
            margin-left: 1.5px;
          }
        }
      }
      .loc3:hover {
        background-image: url(../image/bg_ocean.jpeg);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
        transform: scale(1.1);
        transition: transform ease-out 1s;
        h2,
        h3 {
          color: #fff;
        }
        .rightarr {
          opacity: 1;
        }
      }
      .loc4:hover {
        background-image: url(../image/Egypt.jpeg);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
        transform: scale(1.1);
        transition: transform ease-out 1s;
        h2,
        h3 {
          color: #fff;
        }
        .rightarr {
          opacity: 1;
        }
      }
    }
  } //end of allloc
} //end of choices

.nav {
  height: 80px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 2;
  box-sizing: border-box;

  .name {
    margin-left: 80px;
    padding-left: 36px;
    float: left;
    font-size: 22px;
    font-weight: 600;
    line-height: 80px;
    text-decoration: none;
  } //end of name

  .navlink {
    width: 600px;
    display: inline-block;
    margin-left: 400px;
    height: 80px;
    .linka {
      width: 146px;
      opacity: 0;
      margin-top: 15px;
      padding: 15px 30px;
      box-sizing: border-box;
      letter-spacing: 3px;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      // line-height: 80px;
      font-size: 14px;
      color: $c;
      // transition: opacity linear 1s;
      &:hover {
        background-color: #f7f8fc;
        border-radius: 5px;
        transition: all linear 0.5s;
      }
    }
  }

  .destination {
    @include box(174.89px, 44px);
    margin-top: 20px;
    margin-right: 80px;
    line-height: 44px;
    float: right;
    // transition: color linear 2s;
    p {
      box-sizing: border-box;
      color: #fff;
      text-decoration: none;
      letter-spacing: 6px;
      text-align: center;
      @include border(1px, solid, 0.2);
      border-radius: 5px;
    }
    &:hover {
      cursor: pointer;
    }
  } //end of destination
} //end of nav

header {
  @include box(100vw, 700px);
  background-image: url(../image/support_bg.jpeg);
  background-size: cover;
  background-position: center;
  .overlay {
    @include box(100%, 700px);
    position: absolute;
    top: 0;
    background-color: rgba(15, 19, 38, 0.55);
  }
  .intro {
    @include box(700px, 112px);
    display: inline-block;
    margin: 300px 0 0 calc(50vw - 350px);
    position: absolute;
    text-align: center;

    h2 {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 3px;
      margin-bottom: 30px;
    }

    h1 {
      font-size: 68px;
      line-height: 1.1em;
      margin-bottom: 40px;
    }
  }
}

.form {
  @include box(calc(100vw - 80px), 990px);
  padding-bottom: 140px;
  position: relative;
  margin-left: 80px;
  box-sizing: border-box;
  .form_info {
    border-radius: 10px;
    box-sizing: border-box;
    @include box(1364px, 910px);
    margin: 0 auto;
    padding: 48px 48px 0;
    position: absolute;
    top: -60px;
    left: calc(50% - 682px);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h3 {
      color: $c;
      font-weight: 400;
      letter-spacing: 3px;
      text-align: center;
    }
    .forms {
      @include box(1268px, 747px);
      display: flex;
      justify-content: space-between;
      .lform {
        @include box(780px, 747px);
        background-color: #f7f8fc;
        box-sizing: border-box;
        border: 1px solid $b_color;
        border-radius: 10px;
        padding: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .linput {
          @include box(657.35px, 86px);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .lheader {
            font-size: 14px;
            color: $c;
            font-weight: 700;
            text-align: left;
          }
          .input_box {
            @include box(657.35px, 54px);
            display: flex;
            justify-content: space-between;
            .fn,
            .ln {
              color: #000;
              font-size: 14px;
              @include box(319.68px, 54px);
              border: 1px solid $b_color;
              border-radius: 5px;
              box-sizing: border-box;
              padding: 16px 12px 16px 18px;
              &:focus {
                outline: none;
              }
            }
            .email {
              @include box(657.35px, 54px);
              color: #000;
              font-size: 14px;
              border: 1px solid $b_color;
              border-radius: 5px;
              box-sizing: border-box;
              padding: 16px 12px 16px 18px;
              &:focus {
                outline: none;
              }
            }

            ::placeholder {
              font-size: 14px;
              color: rgba(104, 104, 102, 0.7);
              transition: transform linear 2s;
            }
          }
        }
        .lmessage {
          @include box(657.35px, 207px);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .lheader {
            font-size: 14px;
            color: $c;
            font-weight: 700;
            text-align: left;
          }
          .message {
            @include box(657.35px, 175px);
            color: #000;
            font-size: 14px;
            border: 1px solid $b_color;
            border-radius: 5px;
            box-sizing: border-box;
            padding: 16px 12px 16px 18px;
          }
        }
        .submit {
          @include box(657.35px, 52px);
          background-color: #3572ff;
          padding: 16px 15px;
          box-sizing: border-box;
          border-radius: 5px;
          font-size: 12px;
          letter-spacing: 3px;
        }
      }
      .rform {
        @include box(428.65px, 747px);
        .rform_info {
          position: sticky;
          top: 120px;
          @include box(428.65px, 243.4px);
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          .rtop {
            display: flex;
            align-items: center;
            justify-content: space-between;
            hr {
              width: 300px;
              height: 0;
              border: 1px solid $b_color;
            }
          }
          .rbottom {
            @include box(428.65px, 210px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .link {
              @include box(428.65px, 62px);
              background-color: #f7f8fc;
              border: 1px solid $b_color;
              border-radius: 5px;
              box-sizing: border-box;
              padding: 18px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              &:hover {
                cursor: pointer;
                p,
                .rformrarr {
                  transform: translateX(6px);
                  opacity: 1;
                  transition: all linear 2s;
                }
              }
              p {
                @include box(350.65px, 20px);
                letter-spacing: 2px;
                color: $c;
                font-size: 14px;
              }
              .rformrarr {
                @include box(19.2px, 19.2px);
                position: relative;
                border-radius: 50%;
                border: 1px solid $b_color;
                background-color: #fff;
                opacity: 0;
                img {
                  @include box(11.2px, 11.2px);
                  @include abs(11.2px, 11.2px);
                }
              }
            }
          }
        }
      }
    }
  }
}

.talk {
  @include box(calc(100% - 80px), 599px);
  margin-left: 80px;
  background: url(../image/header_bg.jpeg) no-repeat 0 0/100% 100%;
  .darkoverlay {
    @include box(100%, 599px);
    background-color: rgba(15, 19, 38, 0.6);

    .tinfo {
      text-align: center;
      padding: 140px 0 200px;

      h3 {
        letter-spacing: 3px;
        font-weight: 400;
        margin-bottom: 20px;
      }

      h2 {
        @include pop();
        font-size: 48px;
        line-height: 58px;
        margin-bottom: 25px;
        @include pop();
      }
      p {
        font-size: 17px;
        line-height: 30px;
      }
    }
  }
}

.agent {
  @include box(calc(100% - 80px), 528px);
  margin-left: 80px;
  background-color: #f7f8fc;
  position: relative;

  .agents-bottom {
    position: absolute;
    display: flex;
    left: calc(50% - 682px);
    top: -60px;
    @include box(1364px, 448px);
    // height: 455.5px;

    .agents-info {
      @include box(340.5px, 446px);
      // height: 453px;
      box-sizing: border-box;
      padding: 18px 18px 30px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .info-top {
        @include box(304.5px, 325px);
        box-sizing: border-box;
        overflow: hidden;
        border-radius: 10px;
        img {
          @include box(304.5px, 446px);
          box-sizing: border-box;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: cover;
          margin-top: -30px;
        }
      }

      .info-bottom {
        padding: 0 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 56.5px;
        h2 {
          color: $c;
          font-size: 22px;
          @include pop();
          font-weight: 500;
        }
        p {
          font-size: 14px;
          color: #516381;
        }
      }

      &:hover {
        transform: scale(1.05);
        transition: all linear 1s;
        border-radius: 5px;
        border: none;
        box-shadow: 0 0 3px 3px rgba(201, 198, 198, 0.4);
      }
    }
    .info-1 {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    .info-2 {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}

footer {
  height: 142px;

  .footer-wrapper {
    @include box(1280px, 142px);
    margin: 0 auto;
    padding: 48px 0 22px 36px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    .footer-destinations {
      @include box(537.34px, 38px);
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        padding: 9px 14px;
        background-color: #f7f8fc;
        color: $c;
        border-radius: 5px;
        letter-spacing: 3px;
      }
      a {
        color: $c;
        text-decoration: none;
        letter-spacing: 3px;
        padding: 9px 14px;

        &:hover {
          background-color: #f7f8fc;
          transition: all linear 1s;
          border-radius: 5px;
        }
      }
    } //end of footer destination

    .footer-logo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      h3 {
        font-size: 24px;
        color: $c;
        span {
          @extend h3;
          font-weight: 500;
        }
      }
      p {
        color: $c;
        font-size: 12px;
      }
    }
  } //end of footer wrapper
} //end of footer
